@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header {
    .info-blue-box {
        background-color: #0282f9;

        li:first-child a {
            padding-right: 50px;
        }

        li a {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            font-size: small;
        }
    }

    nav {
        img {
            height: 80px;
        }

        li a {
            color: #000;
            font-weight: 600;
            position: relative;
            text-decoration: none;
            font-size: larger;

            &.active,
            &:hover {
                color: #0282f9;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -43px;
                    left: 0px;
                    width: 100%;
                    height: 5px;
                    background-color: #0282f9;
                }
            }

        }
    }
}

.jumbo {
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}

main {
    background-color: #1c1c1c;

    .comicsMain {
        .my-p {
            padding: 50px 0px 15px 0px;
        }

        .plate {
            position: absolute;
            bottom: 97%;
            cursor: default;
            background-color: #0282f9;
            color: #fff;
            font-size: large;
            font-weight: 900;
            padding: 8px 25px;
        }

        .my-row {
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px 5px;


        }

        .my-btn {
            background-color: #0282f9;
            border: 0;
            padding: 5px 40px;
            color: #fff;
            font-weight: 600;
            font-size: small;

            &:hover {
                transform: scale(1.1);
            }
        }

        .my-col {
            width: calc(100% / 6 - 10px);
            position: relative;

            &:hover {
                cursor: pointer;

                img {
                    transform: scale(1.1);
                }

            }

            .imgContainer {
                height: 220px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .price {
                position: absolute;
                top: 10px;
                right: 0;
                padding: 5px;
                border-radius: 10px 0 0 10px;
                background-color: rgba(57, 56, 56, 0.9);
                color: white;
            }

            .textComics {
                padding: 10px 0;
                color: white;
                font-size: small;
                font-weight: 600;
                text-transform: uppercase;
            }

        }
    }

    .detailesMain {
        background: linear-gradient(0deg, rgba(255,255,255,1) 90%, rgba(2,130,249,1) 80px);

        .my-pt-24{
            padding-top: 24px;
        }

        .my-pl-0{
            padding-left: 0;
        }

        .my-pr-0{
            padding-right: 0;
        }

        .text-blue{
            color: #003f5e;
        }

        .my-container{
            position: relative;
            padding-top: 130px;

            .card-comic{
                border: 1px solid white;
                position: absolute;
                top: -225px;
                width: 180px;
                height: 290px;
            }

            .box-left, .box-right{
                background-color: #55ba59;
                padding: 10px;
                border: 1px solid black;

                .text-light-green{
                    color: #9af999;
                }
            }
        }
    }
}

.shippingBanner {
    background-color: #0282f9;
    color: #fff;

    li {
        &:hover {
            cursor: pointer;

            img {
                transform: scale(1.1);
            }
        }

        img {
            height: 50px;
        }

        .title {
            font-size: smaller;
            padding: 0 10px;
        }
    }
}

footer {
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;

    .content {
        height: 450px;
        padding: 50px 0;
    }

    .title {
        cursor: default;
        color: #fff;
        font-size: 30px;
        font-weight: bolder;
    }

    .infoItems {
        text-decoration: none;
        color: #878484fa;

        &:hover {
            color: #0282f9;
            cursor: pointer;
        }
    }

    .log-bg {
        position: relative;
        bottom: 30%;
    }

    .my-bg-black {
        background-color: #303030;

        .my-btn {
            border: 2px solid #0282f9;
            border-radius: 0;

            &:hover {
                transform: scale(1.1);
            }
        }

        ul {
            li:first-child {
                cursor: default;
                font-weight: bolder;
                color: #0282f9;
            }

            li {
                padding: 0 10px;
            }

            .socialIcon:hover {
                transform: scale(1.1);
            }

        }
    }
}